extends layout

doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
      div.header #{title}
      table
        thread
          tr
            td.td-top id
            td.td-top status
            each item, i in artisans
              if (i % 2)
                - trclass = "white"
              else
                - trclass = "grey"
              tr(class=trclass)
                td #{item.fairfair_id}
                td #{item.status}