extends layout




doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
      div.header #{title}
      table
        thread
          tr
            td.td-top ID Artisan
            td.td-top Latitude
            td.td-top Longitude
            td.td-top Date
            each item, i in positions
              if (i % 2)
                - trclass = "white"
              else
                - trclass = "grey"
              tr(class=trclass)
                td #{item.userId}
                td #{item.latitude}
                td #{item.longitude}
                td #{moment(item.iat).format('DD/MM/YYYY HH:MM:SS')}